<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>XtreMetrics - Profile</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>

    <div class="topnav">
        <div class="logo">
            <img id="logo-img" src="/img/X-icon.png" />
            <span id="logo">TREMETRICS</span>
        </div>
        <a class="active" href="/logout"><span>LogOut</span></a>
        <a class="active" href="/user/<%=userName%>/profile/delete"><span>Delete account</span></a>
    </div>
    <%if(err === undefined && msg === undefined){ %>
        <div class="title">
            <span id="title">Welcome <span class="txt-highlight"><%= userName %></span> ! </span>
        </div>
        <% } %>
            <section class="header-option">
                <div class="profile">
                    <div id="profile" class="header">Profile</div>
                </div>
                <div class="metrics">
                    <div id="metrics" class="header">Metrics</div>
                </div>
            </section>
            <%if(err && msg !== undefined){ %>
                <section class="msg-error">
                    <div class="msg-error-txt">
                        <%= msg %>
                    </div>
                </section>
                <% } else if(!err && msg !== undefined) {%>
                    <section class="msg-success">
                        <div class="msg-success-txt">
                            <%= msg %>
                        </div>
                    </section>
                    <% } %>
                        <section class="option">
                            <div class="profile-form">
                                <form class="form-info" action="/user/<%= userName %>/profile/edit" method="post">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Edit your profile</span></div>
                                    <div class="form-element">
                                        <img id="reverse-ico" class="form-ico" src="/img/email.png" />
                                        <input type="mail" id="mail" name="user_mail" placeholder="Enter your e-mail" value="<%= userEmail %>" required>
                                    </div>
                                    <div class="form-element">
                                        <img id="reverse-ico" class="form-ico" src="/img/user.png" />
                                        <input type="text" id="name" name="user_name" placeholder="Enter your username" value="<%= userName %>" required>
                                    </div>
                                    <div class="form-element" id="hover">
                                        <img id="reverse-ico" class="form-ico" src="/img/psw.png" />
                                        <input type="password" id="password" name="user_password" placeholder="Enter your password" value="<%= userPassword %>" required>
                                    </div>
                                    <button id="form-button-profile" type="submit" class="form-submit">Save</button>
                                </form>
                            </div>
                            <div class="metrics-action">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-black"><span class="form-title-txt">Action on metrics</span></div>
                                    <div class="list-button">
                                        <button title="Display options metrics" class="btn-choice" id="btn-settings"></button>
                                        <button title="Create metric" class="btn-choice" id="btn-create"></button>
                                        <button title="Read metric" class="btn-choice" id="btn-read"></button>
                                        <button title="Update metric" class="btn-choice" id="btn-update"></button>
                                        <button title="Delete metric" class="btn-choice" id="btn-delete"></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-create" id="option-metrics-create">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Create metrics</span></div>
                                    <form class="form-info" action="/user/<%= userName %>/metrics/create" method="post">
                                        <div class="form-element">
                                            <img id="reverse-ico" class="form-ico" src="/img/metric-height.png" />
                                            <input type="height" id="height" name="metric_height" placeholder="Enter the new height" required>
                                        </div>
                                        <div class="form-element">
                                            <img id="reverse-ico" class="form-ico" src="/img/metric-weight.png" />
                                            <input type="height" id="weight" name="metric_weight" placeholder="Enter the new weight" required>
                                        </div>
                                        <button id="form-button-metrics" type="submit" class="form-submit">Save</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-read" id="option-metrics-read">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Read metrics</span></div>
                                    <div>
                                        <div id="my-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-update" id="option-metrics-update">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Update metrics</span></div>
                                    <div id="filter-update">
                                        <form id="printUpdateForm" method="POST">
                                            <input name="idfilter" id="idfilter-update" type="text" />
                                            <input type="submit" value="" src="/img/search.png" id="search-update" width="30px">
                                            <img src="/img/visibility.png" id="hide-update" width="30px">
                                            <input name="mail-update" id="mail-update" value="<%= userEmail %>" type="hidden" />
                                        </form>
                                    </div>
                                    <form d="updateForm" method="POST">
                                        <div id="metrics-delete"></div>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-delete" id="option-metrics-delete">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Delete metrics</span></div>
                                    <div id="filter-delete">
                                        <form id="printDeleteForm" method="POST">
                                            <input name="idfilter" id="idfilter-delete" type="text" />
                                            <input type="submit" value="" src="/img/search.png" id="search-delete" width="30px">
                                            <img src="/img/visibility.png" id="hide-delete" width="30px">
                                            <input name="mail-delete" id="mail-delete" value="<%= userEmail %>" type="hidden" />
                                        </form>
                                    </div>
                                    <form d="deleteForm" method="POST">
                                        <div id="metrics-delete"></div>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <script type="text/javascript" src="/barchart.js"></script>
                        <script>
                            $(document).ready(function() {
                                $(".title").fadeTo(5000, 0.001, function() {
                                    $(this).slideUp(500, function() {
                                        $(this).remove();
                                    });
                                });
                                $("#password").click(function() {
                                    if ($(this).attr("type") === 'password') {
                                        $(this).prop("type", "text");
                                        $(this).css("background-image", "url(../img/visibility.png)");
                                    } else {
                                        $(this).prop("type", "password");
                                        $(this).css("background-image", "url(../img/no-visibility.png)");
                                    }
                                });
                                $(".profile").click(function() {
                                    $('.metrics').toggle(500);
                                    $('.profile-form').toggle(500);
                                });
                                $(".metrics").click(function() {
                                    $('.profile').toggle(500);
                                    $('.metrics-action').toggle(500);
                                    $(".metrics-create").hide("slow");
                                    $(".metrics-read").hide("slow");
                                    $(".metrics-update").hide("slow");
                                    $(".metrics-delete").hide("slow");

                                });
                                $(".msg-error").fadeTo(6000, 5, function() {
                                    $(this).slideUp(500, function() {
                                        $(this).remove();
                                    });
                                });
                                $(".msg-success").fadeTo(6000, 5, function() {
                                    $(this).slideUp(500, function() {
                                        $(this).remove();
                                    });
                                });
                                $("#btn-settings").click(function() {
                                    $("#btn-settings").toggleClass("rotate");
                                    $(".metrics-create").hide("slow");
                                    $(".metrics-read").hide("slow");
                                    $(".metrics-update").hide("slow");
                                    $(".metrics-delete").hide("slow");
                                });
                                $("#btn-settings").click(function() {
                                    $('#btn-create').toggle(500);
                                    $('#btn-read').toggle(500);
                                    $('#btn-update').toggle(500);
                                    $('#btn-delete').toggle(500);
                                });

                                $("#btn-create").click(function() {
                                    $(".metrics-create").toggle(500);
                                });
                                $("#btn-read").click(function() {
                                    $(".metrics-read").toggle(500);
                                });
                                $("#btn-update").click(function() {
                                    $(".metrics-update").toggle(500);
                                });
                                $("#btn-delete").click(function() {
                                    $(".metrics-delete").toggle(500);
                                });
                                $('#hide-delete').click((e) => {
                                    if (($('#metrics-delete').is(':visible'))) {
                                        $('#hide-delete').attr("src", "/img/no-visibility.png");
                                    } else {
                                        $('#hide-delete').attr("src", "/img/visibility.png");
                                    }
                                    $('#metrics-delete').toggle(500);
                                });
                                $('#hide-update').click((e) => {
                                    if (($('#metrics-update').is(':visible'))) {
                                        $('#hide-update').attr("src", "/img/no-visibility.png");
                                    } else {
                                        $('#hide-update').attr("src", "/img/visibility.png");
                                    }
                                    $('#metrics-update').toggle(500);
                                });
                                $(".trash").live('click', function() {
                                    console.log($(this).attr("id"));
                                });







                                $('#search-delete').click((e) => {
                                    //$('form#printDeleteForm').attr('action', '/user/<%= userName %>/metrics/delete');
                                    //$('form#printDeleteForm').submit();
                                    $("#metrics-delete").empty();
                                    e.preventDefault();
                                    var request = $.getJSON("/user/<%= userName %>/metrics/read", function(data) {
                                        var txt = '';
                                        data.forEach(function(element) {
                                            txt += '<br><span id="txt-title">Timestamp:</span> ' + element.timestamp + ' <span id="txt-title">Height:</span> ' + element.height + '<img src="/img/trash.png" id="metrics:<%=userEmail%>:' + element.timestamp + '" class="trash" width="30px"><br>';
                                        });
                                        html = $.parseHTML(txt);
                                        $('#metrics-delete').append(html);
                                    }).fail(function(request, status, error) {
                                        console.log('error', status, error)
                                    }).always(function() {
                                        console.log("complete");
                                    });
                                })
                                $('#search-update').click((e) => {
                                    //$('form#printUpdateForm').attr('action', '/user/<%= userName %>/metrics/update');
                                    //$('form#printUpdateForm').submit();
                                    $("#metrics-update").empty();
                                    e.preventDefault();
                                    var request = $.getJSON("/user/<%= userName %>/metrics/read", function(data) {
                                        var txt = '';
                                        data.forEach(function(element) {
                                            txt += '<br><span id="txt-title">Timestamp:</span> ' + element.timestamp + ' <span id="txt-title">Height:</span> ' + element.height + '<br>';
                                        });
                                        html = $.parseHTML(txt);
                                        $('#metrics-update').append(html);
                                    }).fail(function(request, status, error) {
                                        console.log('error', status, error)
                                    }).always(function() {
                                        console.log("complete");
                                    });
                                })


                            });
                        </script>
</body>

</html>