<!-- homepage.ejs : view of the profile -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>XtreMetrics - Profile</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>

    <div class="topnav">
        <div class="logo">
            <img id="logo-img" src="/img/X-icon.png" />
            <span id="logo">TREMETRICS</span>
        </div>
        <a class="active" href="/logout"><span>LogOut</span></a>
        <a class="active" href="/user/<%=userName%>/profile/delete"><span>Delete account</span></a>
    </div>
    <%if(err === undefined && msg === undefined){ %>
        <div class="title">
            <span id="title">Welcome <span class="txt-highlight"><%= userName %></span> ! </span>
        </div>
        <% } %>
            <section class="header-option">
                <div class="profile">
                    <div id="profile" class="header">Profile</div>
                </div>
                <div class="metrics">
                    <div id="metrics" class="header">Metrics</div>
                </div>
            </section>
            <%if(err && msg !== undefined){ %>
                <section class="msg-error">
                    <div class="msg-error-txt">
                        <%= msg %>
                    </div>
                </section>
                <% } else if(!err && msg !== undefined) {%>
                    <section class="msg-success">
                        <div class="msg-success-txt">
                            <%= msg %>
                        </div>
                    </section>
                    <% } %>
                        <section class="option">
                            <div class="profile-form">
                                <form class="form-info" action="/user/<%= userName %>/profile/edit" method="post">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Edit your profile</span></div>
                                    <div class="form-element">
                                        <img id="reverse-ico" class="form-ico" src="/img/email.png" />
                                        <input type="mail" id="mail" name="user_mail" placeholder="Enter your e-mail" value="<%= userEmail %>" required>
                                    </div>
                                    <div class="form-element">
                                        <img id="reverse-ico" class="form-ico" src="/img/user.png" />
                                        <input type="text" id="name" name="user_name" placeholder="Enter your username" value="<%= userName %>" required>
                                    </div>
                                    <div class="form-element" id="hover">
                                        <img id="reverse-ico" class="form-ico" src="/img/psw.png" />
                                        <input type="password" id="password" name="user_password" placeholder="Enter your password" value="<%= userPassword %>" required>
                                    </div>
                                    <button id="form-button-profile" type="submit" class="form-submit">Save</button>
                                </form>
                            </div>
                            <div class="metrics-action">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-black"><span class="form-title-txt">Action on metrics</span></div>
                                    <div class="list-button">
                                        <button title="Display options metrics" class="btn-choice" id="btn-settings"></button>
                                        <button title="Create metric" class="btn-choice" id="btn-create"></button>
                                        <button title="Read metric" class="btn-choice" id="btn-read"></button>
                                        <button title="Update metric" class="btn-choice" id="btn-update"></button>
                                        <button title="Delete metric" class="btn-choice" id="btn-delete"></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-create" id="option-metrics-create">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Create metrics</span></div>
                                    <form class="form-info" action="/user/<%= userName %>/metrics/create" method="post">
                                        <div class="form-element">
                                            <img id="reverse-ico" class="form-ico" src="/img/metric-height.png" />
                                            <input type="number" min="1" max="999" id="height" name="metric_height" placeholder="Height" required>cm
                                        </div>
                                        <div class="form-element">
                                            <img id="reverse-ico" class="form-ico" src="/img/metric-weight.png" />
                                            <input type="number" min="1" max="999" id="weight" name="metric_weight" placeholder="Weight" required>kg
                                        </div>
                                        <button id="form-button-metrics" type="submit" class="form-submit">Save</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-read" id="option-metrics-read">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Read metrics</span></div>
                                    <div class="chart">
                                        <canvas id="simple-chart"></canvas>
                                    </div>
                                    <div class="chart">
                                        <canvas id="imc-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-update" id="option-metrics-update">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Update metrics</span></div>
                                    <div id="filter-update">
                                        <form id="setFilterUpdate" method="POST">
                                            <input name="idfilter_timestamp_update" id="idfilter_timestamp_update" type="text" />
                                            <input name="idfilter_height_update" id="idfilter_height_update" type="number" min="1" max="999" />
                                            <input name="idfilter_weight_update" id="idfilter_weight_update" type="number" min="1" max="999" />
                                            <input type="submit" value="" src="/img/search.png" id="search-update" width="30px">
                                            <img src="/img/visibility.png" id="hide-update" width="30px">
                                            <input name="mail-update" id="mail-update" value="<%= userEmail %>" type="hidden" />
                                        </form>
                                    </div>
                                    <div id="metrics-update"></div>
                                </div>
                            </div>
                        </section>
                        <section class="option-metrics">
                            <div class="metrics-delete" id="option-metrics-delete">
                                <div class="form-info">
                                    <div class="form-title" id="form-title-white"><span class="form-title-txt">Delete metrics</span></div>
                                    <div id="filter-delete">
                                        <form id="setFilterDelete" method="POST">
                                            <input name="idfilter_timestamp_delete" id="idfilter_timestamp_delete" type="text" />
                                            <input name="idfilter_height_delete" id="idfilter_height_delete" type="number" min="1" max="999" />
                                            <input name="idfilter_weight_delete" id="idfilter_weight_delete" type="number" min="1" max="999" />
                                            <input type="submit" value="" src="/img/search.png" id="search-delete" width="30px">
                                            <img src="/img/visibility.png" id="hide-delete" width="30px">
                                            <input name="mail-delete" id="mail-delete" value="<%= userEmail %>" type="hidden" />
                                        </form>
                                    </div>
                                    <form id="deleteForm" method="POST">
                                        <div id="metrics-delete"></div>
                                    </form>

                                </div>
                            </div>
                        </section>
                        <script>
                            $(document).ready(function() {
                                var simpleChart = null;
                                var IMCChart = null

                                function refreshDelete(path) {
                                    $("#metrics-delete").empty();
                                    var request = $.getJSON(path, function(data) {
                                        tabChart = refreshChart(data, simpleChart, IMCChart)
                                        simpleChart = tabChart[0];
                                        IMCChart = tabChart[1];
                                        var txt = '';
                                        data.forEach(function(element) {
                                            txt += '<br><span id="txt-title">Timestamp:</span> ' + element.timestamp.replace('-', '/').replace('-', '/').replace('~', ' ') + ' <span id="txt-title">Height:</span> ' + element.height + '<span id="txt-title">Weight:</span> ' + element.weight + '<img src="/img/trash.png" id="metrics_<%=userEmail%>_' + element.timestamp + '" class="trash" width="30px"><br>';
                                        });
                                        html = $.parseHTML(txt);
                                        $('#metrics-delete').append(html);

                                    }).fail(function(request, status, error) {
                                        console.log('error', status, error)
                                    }).always(function() {
                                        console.log("complete");
                                    });
                                }

                                function refreshUpdate(path) {
                                    $("#metrics-update").empty();
                                    var request = $.getJSON(path, function(data) {
                                        tabChart = refreshChart(data, simpleChart, IMCChart)
                                        simpleChart = tabChart[0];
                                        IMCChart = tabChart[1];
                                        var txt = '';
                                        data.forEach(function(element) {
                                            txt += ' <form id="' + element.timestamp + '" action="/user/<%= userName %>/metrics/update/metrics_<%=userEmail%>_' + element.timestamp + '" method="POST">' +
                                                '<br><span id="txt-title">Timestamp:</span>' + element.timestamp.replace('-', '/').replace('-', '/').replace('~', ' ') +
                                                '<span id="txt-title">Height:</span> <input class="update-field" min="1" max="999" type="number" name="metric_height" id="metric_height" value="' + element.height +
                                                '"><span id="txt-title">Weight:</span> <input class="update-field" min="1" max="999" type="number" name="metric_weight" id="metric_weight" value="' + element.weight +
                                                '"><button type="submit" value="" id="metrics_<%=userEmail%>_' + element.timestamp + '" class="btn-update" width="30px"></button><br></form>';
                                        });
                                        html = $.parseHTML(txt);
                                        $('#metrics-update').append(html);
                                    }).fail(function(request, status, error) {
                                        console.log('error', status, error)
                                    }).always(function() {
                                        console.log("complete");
                                    });
                                }

                                $("#form-button-metrics").click((e) => {
                                    $.ajax({
                                        url: '/user/<%= userName %>/metrics/create',
                                        success: function(data) {
                                            $("#weight").val("");
                                            $("#height").val("");
                                            refreshDelete("/user/<%= userName %>/metrics/read");
                                            refreshUpdate("/user/<%= userName %>/metrics/read");
                                        }
                                    });
                                });
                                $(".trash").live('click', function() {
                                    var paramID = $(this).attr("id");
                                    $('form#deleteForm').attr('action', '/user/<%= userName %>/metrics/delete/' + paramID);
                                    $('form#deleteForm').submit();
                                    refreshDelete("/user/<%= userName %>/metrics/delete/" + paramID)
                                    refreshUpdate("/user/<%= userName %>/metrics/read");

                                });
                                $(".btn-update").live('click', function() {
                                    var paramID = $(this).attr("id");
                                    $.ajax({
                                        url: '/user/<%= userName %>/metrics/update/' + paramID,
                                        success: function(data) {
                                            refreshUpdate('/user/<%= userName %>/metrics/update/' + paramID)
                                            refreshDelete("/user/<%= userName %>/metrics/read");
                                        }
                                    });
                                });

                                $('#search-delete').click((e) => {
                                    e.preventDefault();
                                    $('form#setFilterDelete').attr('action', '/user/<%= userName %>/metrics/read/filter');
                                    $('form#setFilterDelete').submit();
                                    refreshDelete("/user/<%= userName %>/metrics/read/");
                                })
                                $('#search-update').click((e) => {
                                    e.preventDefault();
                                    $('form#setFilterUpdate').attr('action', '/user/<%= userName %>/metrics/read/filter');
                                    $('form#setFilterUpdate').submit();
                                    refreshUpdate("/user/<%= userName %>/metrics/read");
                                });
                                $('.update-field').live('input', function() {
                                    $(this).css('color', 'red');
                                    $("[type='number']").keypress(function(evt) {
                                        evt.preventDefault();
                                    });
                                });

                                $("#btn-read").click(function() {
                                    if (simpleChart == null && IMCChart == null) {
                                        console.log("build charts")
                                        setTimeout(function() {
                                            simpleChart = setDataSimpleChart(<%- userMetrics%>, simpleChart)
                                            IMCChart = setDataIMCChart(<%- userMetrics%>, IMCChart)
                                        }, 600);
                                    } else {
                                        setTimeout(function() {
                                            refreshDelete("/user/<%= userName %>/metrics/read/");
                                        }, 600);

                                    }

                                });
                            });
                        </script>
                        <script type="text/javascript" src='/js/profile.js'></script>
                        <script type="text/javascript" src='/js/chart.js'></script>

</body>

</html>